<div class="py-main container">
  <h1>Sponsors</h1>
</div>
<div class="bg-gray-200 py-4">
  <div class="container space-y-4">
    <% sponsors.groups.forEach(group => { %>
      <% if (group.items.length > 0) { %>
        <h2><%= group.name %> sponsors</h2>
        <ul
          class="grid gap-4"
          style="grid-template-columns: repeat(auto-fill, minmax(<%= group.minColumnWidth %>px, max-content));"
        >
          <% group.items.forEach(sponsor => { %>
            <li>
              <div class="bg-white p-10 rounded shadow">
                <div
                  class="ar"
                  style="--w: <%= group.minColumnWidth * 2 %>; --h: <%= (group.minColumnWidth * 2) * sponsor.logo.height / sponsor.logo.width %>;"
                >
                  <a
                    class="ar-media block"
                    href="<%- sponsor.url %>"
                    title="<%= sponsor.name %>"
                  >
                    <img
                      src="<%= cloudinary(`sponsors/${sponsor.id}`, { width: 1024, version: sponsor.version || 1 }) %>"
                    />
                  </a>
                </div>
              </div>
            </li>
          <% }) %>
        </ul>
      <% } %>
    <% }) %>
  </div>
</div>
