<%
  const showPresenters = presenters => presenters.map(p => {
    if (typeof p === 'string' && p.includes(' ')) {
      return p
    }
    const presenter = typeof p === 'string'
      ? people.find(person => person.id === p)
      : p
    if (presenter) {
      return [
        typeof p === 'string'
          ? `<a class="link" href="/people/${p}">${presenter.name}</a>`
          : presenter.name,
        presenter.affiliation
      ]
        .filter(Boolean)
        .join(', ')
    }
    return p
  }).join(', ')
%>

<li class="sm:flex">
  <div class="event-indent text-gray-600 sm:flex-shrink-0">
    <time datetime="<%= day.date %>T<%= event.from %>">
      <%= event.from %>
    </time>
    –
    <time datetime="<%= day.date %>T<%= event.to %>">
      <%= event.to %>
    </time>
  </div>
  <div>
    <% if (event.type) { %>
      <span class="font-bold"><%= event.type %></span><%= event.title ? ':' : '' %>
    <% } %>
    <% if (event.title) { %>
      <span class="<%= event.class %>"><%= event.title %></span>
    <% } %>
    <% if (event.presenters) { %>
      <div class="text-sm text-gray-800">
        (<%- showPresenters(event.presenters) %>)
      </div>
    <% } %>
    <% if (event.events) { %>
      <ol class="space-y-2">
        <% event.events.forEach((event) => { %>
          <li>
            <% if (event.type) { %>
              <span class="font-bold"><%= event.type %></span><%= event.title ? ':' : '' %>
            <% } %>
            <% if (event.title) { %>
              <span class="<%= event.class %>"><%= event.title %></span>
            <% } %>
            <% if (event.presenters) { %>
              <div class="text-sm text-gray-800">
                (<%- showPresenters(event.presenters) %>)
              </div>
            <% } %>
          </li>
        <% }) %>
      </ol>
    <% } %>
  </div>
</li>
