<%
  if (event.id) {
    event = { ...events.find(e => e.id === event.id), ...event }
  }
%>

<%
  const showPresenters = presenters => presenters.map(p => {
    if (typeof p === 'string') {
      return p
    }

    const presenter = p.id
      ? people.find(person => person.id === p.id)
      : p

    const presenterName = p.id
      ? `<a class="link" href="/people/${p.id}">${presenter.name}</a>`
      : presenter.name

    return [presenterName, presenter.affiliation]
      .filter(Boolean)
      .join(', ')
  }).join(', ')
%>

<li class="sm:flex">
  <div class="event-indent text-gray-600 sm:flex-shrink-0">
    <time datetime="<%= day.date %>T<%= event.from %>">
      <%= event.from %>
    </time>
    –
    <time datetime="<%= day.date %>T<%= event.to %>">
      <%= event.to %>
    </time>
  </div>
  <div>
    <% if (event.type) { %>
      <span class="font-bold"><%= event.type %></span><%= event.title ? ':' : '' %>
    <% } %>
    <% if (event.title) { %>
      <% if (event.id) { %>
        <a class="link" href="/programme/<%= event.id %>">
          <%= event.title %>
        </a>
      <% } else { %>
        <span class="<%= event.class %>"><%= event.title %></span>
      <% } %>
    <% } %>
    <%- include('partials/presenters.ejs', {
      className: 'text-sm',
      presenters: event.presenters,
    }) %>
    <% if (event.events) { %>
      <ol class="space-y-2">
        <% event.events.forEach((event) => { %>
          <li>
            <% if (event.type) { %>
              <span class="font-bold"><%= event.type %></span><%= event.title ? ':' : '' %>
            <% } %>
            <% if (event.title) { %>
              <span class="<%= event.class %>"><%= event.title %></span>
            <% } %>
            <%- include('partials/presenters.ejs', {
              className: 'text-sm',
              presenters: event.presenters,
            }) %>
          </li>
        <% }) %>
      </ol>
    <% } %>
  </div>
</li>
