<%
  if (event.id) {
    if (!events[event.id]) {
      throw new Error(`Could not find event "${event.id}"`)
    }
    event = { ...events[event.id], ...event }
  }
%>

<li class="sm:flex">
  <div class="event-indent text-gray-600 sm:flex-shrink-0">
    <time datetime="<%= day.date %>T<%= event.from %>">
      <%= event.from %>
    </time>
    –
    <time datetime="<%= day.date %>T<%= event.to %>">
      <%= event.to %>
    </time>
  </div>
  <div>
    <% if (event.type) { %>
      <span class="font-bold">
        <%= event.type %>
        <% if (event.organizer) { %>
          (<%= event.organizer %>)
        <% } %>
      </span><%= event.title ? ':' : '' %>
    <% } %>
    <% if (event.title) { %>
      <% if (event.id) { %>
        <a class="link" href="/programme/<%= event.id %>">
          <%= event.title %>
        </a>
      <% } else { %>
        <span class="<%= event.class %>"><%= event.title %></span>
      <% } %>
    <% } %>
    <% if (event.presenters) { %>
      <div class="text-sm text-gray-800">
        (<%- event.presenters.map(findPerson).join(', ') %>)
      </div>
    <% } %>
  </div>
</li>
