<%
  if (event.id) {
    if (!events[event.id]) {
      throw new Error(`Could not find event "${event.id}"`)
    }
    event = { ...events[event.id], ...event }
  }
%>

<li class="sm:flex">
  <div class="event-indent text-gray-600">
    <% if (event.from && event.to) { %>
      <time datetime="<%= day.date %>T<%= event.from %>">
        <%= event.from %>
      </time>
      –
      <time datetime="<%= day.date %>T<%= event.to %>">
        <%= event.to %>
      </time>
    <% } %>
  </div>
  <div>
    <% if (event.type) { %>
      <span class="font-bold"><%= event.organizer ? `${event.type} (${event.organizer})` : event.type %></span><%= event.title ? ':' : '' %>
    <% } %>
    <% if (event.title) { %>
      <% if (event.keynote && event.presenters) { %>
        <%- findPerson(event.presenters[0]) %>:
      <% } %>
      <% if (event.id) { %>
        <a class="link" href="/programme/<%= event.id %>">
          <%= event.title %>
        </a>
      <% } else { %>
        <span class="<%= event.class %>"><%= event.title %></span>
      <% } %>
    <% } %>
    <div class="text-sm text-gray-800">
      <% if (event.speakers) { %>
        <div>
          <%- include('partials/people-list', {
            type: 'speaker',
            people: event.speakers,
            withNumberedAffiliations: false,
          }) %>
        </div>
      <% } else if (event.presenters && !event.keynote) { %>
        <div>
          <%- include('partials/people-list', {
            type: event.presenterType || 'speaker',
            people: event.presenters,
            withNumberedAffiliations: false,
          }) %>
        </div>
      <% } %>
      <% if (event.moderators) { %>
        <div>
          <%- include('partials/people-list', {
            type: 'moderator',
            people: event.moderators,
            withNumberedAffiliations: false,
          }) %>
        </div>
      <% } %>
    </div>
  </div>
</li>
