<header class="z-10 bg-colorbox-35 text-white">
  <nav
    data-navigation="container"
    class="container relative flex items-center justify-between lg:justify-center"
  >
    <a
      class="block p-2 -ml-2 lg:absolute lg:top-0 lg:left-0 lg:ml-2 lg:mt-2"
      href="/"
    >
      <%- include('partials/logo-glyph.ejs', { width: '3rem' }) %>
    </a>
    <button
      data-navigation="toggle"
      class="block p-3 my-2 -mr-2 relative z-10 rounded-full expanded:text-black lg:hidden"
      type="button"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <icon
        class="s-1 block expanded:hidden"
        id="menu"
        role="img"
        aria-label="toggle menu"
      ></icon>
      <icon
        class="s-1 hidden expanded:block"
        id="close"
        role="img"
        aria-label="toggle menu"
      ></icon>
    </button>
    <ul
      data-navigation="menu"
      class="hidden absolute left-0 top-0 right-0 py-1 bg-white shadow-lg border-b border-gray-500 whitespace-no-wrap text-black lg:static lg:py-2 lg:bg-transparent lg:shadow-none lg:border-none lg:text-current lg:flex lg:items-center lg:justify-center"
    >
      <% navigation.forEach(item => { %>
        <li class="relative">
          <% if (item.submenu.length === 0) { %>
            <a
              class="block px-3 py-2 lg:rounded lg:focus:bg-white lg:focus:bg-opacity-25 lg:focus:outline-none lg:hover:bg-white lg:hover:bg-opacity-25 lg:px-6 <%= item.href === page.path ? 'font-bold' : '' %>"
              href="<%= item.href %>"
              aria-selected="<%= item.href === page.path ? 'page' : false %>"
            >
              <%= item.name %>
            </a>
          <% } else { %>
            <button
              data-navigation="toggle"
              class="flex items-center w-full space-x-2 px-3 py-2 lg:relative lg:w-auto lg:space-x-0 lg:px-2 lg:rounded lg:focus:bg-white lg:focus:bg-opacity-25 lg:focus:outline-none lg:hover:bg-white lg:hover:bg-opacity-25 lg:px-6"
              type="button"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <span>
                <%= item.name %>
              </span>
              <span
                class="lg:absolute lg:bottom-0 lg:transform lg:l-1/2 lg:-translate-x-1/2"
              >
                <icon
                  class="s-1 block expanded:hidden"
                  id="chevron-down"
                  role="img"
                  aria-label="toggle menu"
                ></icon>
                <icon
                  class="s-1 hidden expanded:block"
                  id="chevron-up"
                  role="img"
                  aria-label="toggle menu"
                ></icon>
              </span>
            </button>
            <div
              data-navigation="menu"
              class="hidden divide-y lg:absolute lg:transform lg:l-1/2 lg:-translate-x-1/2 lg:bg-white lg:text-black lg:rounded lg:shadow"
            >
              <% item.submenu.forEach(submenu => { %>
                <ul class="mx-4 py-2 lg:mx-0">
                  <% submenu.forEach(subitem => { %>
                    <li class="text-sm">
                      <% if (subitem.disabled) { %>
                        <div class="p-2 text-gray-500 lg:px-4 lg:py-2">
                          <%= subitem.name %>
                        </div>
                      <% } else { %>
                        <a
                          class="block p-2 lg:px-4 lg:py-2 lg:hover:bg-gray-300 <%= subitem.href === page.path ? 'font-bold lg:bg-gray-100' : '' %>"
                          href="<%= subitem.href %>"
                          aria-current="<%= subitem.href === page.path ? 'page' : false %>"
                        >
                          <%= subitem.name %>
                        </a>
                      <% } %>
                    </li>
                  <% }) %>
                </ul>
              <% }) %>
            </div>
          <% } %>
        </li>
      <% }) %>
    </ul>
  </nav>
</header>
