<p class="mt-4"><strong>Note:</strong> All times are in Central European Time (CEST = UTC + 2).</p>

<% programme.forEach((day) => { %>
  <h2 class="leading-snug mt-6 mb-4 pb-2 text-colorbox-35 border-b border-gray-600">
    <time datetime="<%= day.date %>">
      <%= dateFns.format(new Date(day.date), 'EEEE,') %>
      <div class="sm:inline">
        <%= dateFns.format(new Date(day.date), 'd MMMM y') %>
      </div>
    </time>
  </h2>
  <ol class="space-y-4 leading-normal">
    <% day.events.forEach((event) => { %>
      <% if (event.from && event.to) { %>
        <%- include('partials/event.ejs', { day, event }) %>
      <% } else { %>
        <li>
          <div class="mt-4 mb-1">
            <div class="text-md text-colorbox-35 sm:flex">
              <div class="event-indent"></div>
              <div>
                <%= event.type %>:
                <% if (event.location && event.title) { %>
                  <%= event.location %> · <span class="font-bold"><%= event.title %></span>
                <% } else if (event.location) { %>
                  <%= event.location %>
                <% } else { %>
                  <span class="font-bold"><%= event.title %></span>
                <% } %>
              </div>
            </div>
            <% if (event.organizer) { %>
             <div class="sm:flex">
               <div class="event-indent"></div>
               <div class="text-colorbox-35 text-sm">
                 Organizer: <%= event.organizer %>
               </div>
             </div>
            <% } %>
            <% if (event.moderators) { %>
              <div class="sm:flex">
                <div class="event-indent"></div>
                <div class="text-colorbox-35 text-sm">
                  <%= pluralize('Moderator', event.moderators.length) %>:
                  <% if (event.moderators.length > 1) { %>
                    <ul class="list-disc pl-6">
                      <% event.moderators.forEach(moderator => { %>
                        <li><%- findPerson(moderator) %> </li>
                      <% }) %>
                    </ul>
                  <% } else { %>
                    <%- findPerson(event.moderators[0]) %>
                  <% } %>
                </div>
              </div>
            <% } %>
            <% if (event.description) { %>
              <div class="sm:flex">
                <div class="event-indent"></div>
                <div class="text-sm text-colorbox-35">
                  <p>Brief description: <%= event.description %></p>
                </div>
              </div>
            <% } %>
          </div>
          <ol class="space-y-1">
            <% event.events.forEach((event, i) => { %>
              <% if (event.events) { %>
                <li>
                  <div class="sm:flex <%= i > 0 ? 'my-2' : 'mb-2' %>">
                    <div class="event-indent text-gray-600">
                      <% if (event.from && event.to) { %>
                        <time datetime="<%= day.date %>T<%= event.from %>">
                          <%= event.from %>
                        </time>
                        –
                        <time datetime="<%= day.date %>T<%= event.to %>">
                          <%= event.to %>
                        </time>
                      <% } %>
                    </div>
                    <div class="uppercase">
                      <% if (event.type) { %>
                        <span class="font-bold"><%= event.type %></span>:
                      <% } %>
                      <%= event.title %>
                    </div>
                  </div>
                  <ol class="space-y-1">
                    <% event.events.forEach(event => { %>
                      <%- include('partials/event.ejs', { day, event }) %>
                    <% }) %>
                  </ol>
                </li>
              <% } else { %>
                <%- include('partials/event.ejs', { day, event }) %>
              <% } %>
            <% }) %>
          </ol>
        </li>
      <% } %>
    <% }) %>
  </ol>
<% }) %>

<style>
  @screen sm {
    .event-indent {
      @apply flex-shrink-0;
      width: 7rem;
    }
  }
</style>
