<p class="mt-4"><strong>Note:</strong> All times are in Central European Time (CEST = UTC + 2).</p>

<% programme.forEach((day) => { %>
  <h2 class="leading-snug mt-6 mb-4 pb-2 text-colorbox-35 border-b border-gray-600">
    <time datetime="<%= day.date %>">
      <%= dateFns.format(new Date(day.date), 'EEEE,') %>
      <div class="sm:inline">
        <%= dateFns.format(new Date(day.date), 'd MMMM y') %>
      </div>
    </time>
  </h2>
  <ol class="space-y-4 leading-normal">
    <% day.events.forEach((event) => { %>
      <% if (event.from && event.to) { %>
        <li>
          <%- include('partials/event.ejs', { day, event }) %>
        </li>
      <% } else { %>
        <li>
          <div class="mt-4 mb-1">
            <div class="text-md text-colorbox-35 sm:flex">
              <div class="event-indent"></div>
              <div>
                <%= event.type %>:
                <% if (event.location && event.title) { %>
                  <%= event.location %> · <span class="font-bold"><%= event.title %></span>
                <% } else if (event.location) { %>
                  <%= event.location %>
                <% } else { %>
                  <span class="font-bold"><%= event.title %></span>
                <% } %>
              </div>
            </div>
            <% if (typeof event.video !== 'undefined') { %>
              <div class="sm:flex">
                <div class="event-indent"></div>
                <div>
                  <a
                    class="link-youtube inline-flex items-center space-x-1"
                    href="<%= event.video %>"
                    target="_blank"
                  >
                    <icon id="youtube" role="presentation" class="s-1"></icon>
                    <span>Video</span>
                  </a>
                </div>
             </div>
            <% } %>
            <% if (event.organizer) { %>
             <div class="sm:flex">
               <div class="event-indent"></div>
               <div class="text-colorbox-35 text-sm">
                 Organizer: <%= event.organizer %>
               </div>
             </div>
            <% } %>
            <% if (event.moderators) { %>
              <div class="sm:flex">
                <div class="event-indent"></div>
                <div class="text-colorbox-35 text-sm">
                  <%= pluralize('Moderator', event.moderators.length) %>:
                  <% if (event.moderators.length > 1) { %>
                    <ul class="list-disc pl-6">
                      <% event.moderators.forEach(moderator => { %>
                        <li><%- findPerson(moderator) %> </li>
                      <% }) %>
                    </ul>
                  <% } else { %>
                    <%- findPerson(event.moderators[0]) %>
                  <% } %>
                </div>
              </div>
            <% } %>
            <% if (event.description) { %>
              <div class="sm:flex"> <div class="event-indent"></div>
                <div class="text-sm text-colorbox-35">
                  <p>Brief description: <%= event.description %></p>
                </div>
              </div>
            <% } %>
          </div>
          <ol class="space-y-2">
            <% event.events.forEach((event, i) => { %>
              <li>
                <div class="my-2">
                  <%- include('partials/event.ejs', { day, event }) %>
                </div>
                <% if (event.events) { %>
                  <ol class="space-y-2">
                    <% event.events.forEach(event => { %>
                      <li>
                        <%- include('partials/event.ejs', { day, event }) %>
                      </li>
                    <% }) %>
                  </ol>
                <% } %>
              </li>
            <% }) %>
          </ol>
        </li>
      <% } %>
    <% }) %>
  </ol>
<% }) %>

<style>
  @screen sm {
    .event-indent {
      @apply flex-shrink-0;
      width: 7rem;
    }
  }
</style>
