<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= `PUBMET${year}` %></title>
    <meta name="description" content="<%= description %>" />
    <%- include('partials/google-analytics.ejs') %>
    <link rel="stylesheet" href="/style.css" />
    <script defer src="/script.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('partials/icons.html') %>

    <div class="flex flex-col min-h-screen">
      <%- include('partials/navigation.ejs') %>

      <main class="flex-1">
        <%- contents %>
      </main>

      <footer class="bg-colorbox-35 text-white mt-1">
        <div class="container flex justify-center">
          <% socialLinks.forEach(link => { %>
            <a href="<%= link.url %>" class="block p-4">
              <icon
                id="<%= link.id %>"
                class="s-3"
                role="img"
                aria-label="<%= link.name %>"
              ></icon>
            </a>
          <% }) %>
        </div>
      </footer>

      <div data-name="click-drop" class="hidden absolute inset-0"></div>
    </div>
  </body>
</html>
