<div class="container py-main space-y-4">
  <div class="longform">
    <h1><%= frontmatter.title %></h1>
    <div class="text-gray-800">
      <% if (frontmatter.organizer) { %>
        <div>
          <span class="font-bold">Organizer:</span>
          <%= frontmatter.organizer %>
        </div>
      <% } %>
      <div>
        <span class="font-bold"><%= capitalize(pluralize(frontmatter.presenterType || 'speaker', frontmatter.presenters.length)) %></span>:
        <% if (frontmatter.presenters.length > 1) { %>
          <ul>
            <% frontmatter.presenters.map(findPerson).forEach(person => { %>
              <li><%- person %></li>
            <% }) %>
          </ul>
        <% } else { %>
          <%- findPerson(frontmatter.presenters[0]) %>
        <% } %>
      </div>
      <% if (frontmatter.moderators) { %>
        <div>
          <span class="font-bold"><%= pluralize('Moderator', frontmatter.moderators.length) %></span>:
          <% if (frontmatter.moderators.length > 1) { %>
            <ul class="list-disc pl-6">
              <% frontmatter.moderators.map(findPerson).forEach(person => { %>
                <li><%- person %></li>
              <% }) %>
            </ul>
          <% } else { %>
            <%- findPerson(frontmatter.moderators[0]) %>
          <% } %>
        </div>
      <% } %>
    </div>
    <%- contents %>
  </div>
</div>
