<div class="container py-main space-y-4">
  <div class="longform">
    <h1><%= frontmatter.title %></h1>
    <div class="italic text-colorbox-35">
      <% if (frontmatter.organizer) { %>
        <div>
          <span class="font-bold">Organizer:</span>
          <%= frontmatter.organizer %>
        </div>
      <% } %>
      <% if (frontmatter.presenters) { %>
        <div>
          <%- include('partials/people-list', {
            type: frontmatter.presenterType || (frontmatter.speakers ? 'author' : 'speaker'),
            people: frontmatter.presenters,
            withNumberedAffiliations: true,
          }) %>
        </div>
      <% } %>
      <% if (frontmatter.affiliations) { %>
        <div class="my-2">
          <% frontmatter.affiliations.forEach((affiliation, i) => { %>
            <div>
              <% if (frontmatter.presenters && frontmatter.presenters.some(presenter => presenter.affiliations)) { %>
              <sup><%= i + 1 %> </sup>
              <% } -%><%= affiliation %>
            </div>
          <% }) %>
        </div>
      <% } %>
      <% if (frontmatter.moderators) { %>
        <div>
          <%- include('partials/people-list', {
            type: 'moderator',
            people: frontmatter.moderators,
            withNumberedAffiliations: false,
          }) %>
        </div>
      <% } %>
    </div>
    <%- contents %>
  </div>
</div>
